:root {
  --primary: #00ba4a;
  --primary-dark: #008736;
  --secondary: #ff9410;
  --secondary-dark: #ff7300;
  --tertiary: #942670;
  --tertiary-dark: #690046;
}

.color-primary-dark {
  background-color: var(--primary-dark);
}

.color-tertiary {
  background-color: var(--tertiary);
}

.container {
  max-width: 960px;
  width: 80%;
  margin: 0 auto;
}

.logo {
  height: 56px;
}

.grid-double {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
  margin: 3vw 0;
}

body {
  font-size: 14px;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2em 10%;
  z-index: 100;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  width: 80%;
  margin: 0 auto;
  max-width: 960px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  background-color: var(--secondary);
  border-radius: 2em;
  font-family: "Montserrat", sans-serif;
}

nav ul li {
  padding: 0.8em 0;
}
nav ul li a {
  padding: 0.8em 1.6em;
  color: white;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  border-radius: 2em;
}

nav ul a:hover {
  background-color: var(--secondary-dark);
}

#inicio {
  margin-top: 10vw;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 3em;
  color: var(--secondary);
}

.cta p {
  margin: -1em 0 1.5em 0;
  font-family: Open Sans, sans-serif;
  font-size: 1.5em;
  color: gray;
}
.imgcta {
  margin: 2em 0 0 0;
  max-width: 450px;
  height: auto;
}

.cta a {
  background-color: var(--primary);
  color: white;
  border-radius: 2em;
  padding: 1em 1em 1em 1em;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

.cta a:hover {
  background-color: var(--primary-dark);
}

.card-classic {
  border-radius: 2em;
  color: white;
  padding: 2em;
  margin: 1.5em 0 1.5em 0;
  font-family: Montserrat, sans-serif;
  line-height: 1.5em;
}

.card-classic h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

.card-classic ul {
  margin: 0;
  padding: 0;
}

.card-classic li {
  list-style: none;
}

.card-classic span {
  font-weight: bold;
  background-color: var(--primary);
  padding: 0.8em;
  font-size: 1.2em;
  border-radius: 0.5em;
}

.card-header {
  margin: 0 0 1em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.plan-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2em;
}

.card-footer {
  margin: 1em 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.expand-btn {
  background-color: white;
  padding: 0.5em;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
}

.expand-btn a {
  margin: 0 0 0 0.2em;
  font-family: Montserrat, sans-serif;
  font-size: 1em;
  color: var(--primary);
  text-decoration: none;
}

#clube {
  background-color: var(--secondary);
  font-family: Montserrat, sans-serif;
  font-size: 1.5em;
  color: white;
  /* padding: 1em 0 1em 0; */
}

#clube h1 {
  margin: 0.5em 0 0.8em 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  font-size: 2em;
  color: white;
}

#clube ol {
  list-style-type: none;
  padding: 0;
}

#clube li {
  line-height: 1.5em;
  margin: 0 0 1em 0;
  counter-increment: step-counter;
}

#clube li::before {
  content: counter(step-counter);
  font-family: Montserrat, sans-serif;
  margin-right: 1em;
  font-size: 1em;
  background-color: white;
  color: var(--secondary);
  font-weight: bold;
  padding: 0.1em 0.4em;
  border-radius: 0.5em;
}

#clube a {
  color: white;
  font-weight: bold;
}
