:root {
  --primary: #00ba4a;
  --primary-semi: #238b4d;
  --primary-dark: #007931;
  --secondary: #ff9410;
  --secondary-dark: #ff7300;
  --tertiary: #942670;
  --tertiary-semi: #6f315b;
  --tertiary-dark: #600c45;
}

.color-primary {
  background-color: var(--primary);
}

.color-primary-dark {
  background-color: var(--primary-dark);
}

.color-primary-semi {
  background-color: var(--primary-semi);
}

.color-tertiary {
  background-color: var(--tertiary);
}

.color-tertiary-semi {
  background-color: var(--tertiary-semi);
}

.color-tertiary-dark {
  background-color: var(--tertiary-dark);
}

.container {
  max-width: 960px;
  width: 80%;
  margin: 0 auto;
}

section {
  margin-top: 3em !important;
}

.logo {
  height: 56px;
}

.plan-logo {
  height: 3rem;
  width: auto;
}

.star {
  height: 2rem;
  width: auto;
  content: url("./img/star.png");
}

.split {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.split > * {
  flex-basis: 100%;
}

.btn-ctnr {
  display: flex;
  gap: 1em;
  flex-direction: row;
}

@media (max-width: 70em) {
  nav {
    display: none;
  }

  header {
    justify-content: center !important;
  }

  .split {
    text-align: center;
    gap: 0;
  }

  .imgcta {
    display: block;
    align-self: center;
    min-width: 15em;
    order: -1;
    max-width: 25em;
  }

  .btn-ctnr {
    min-width: 12em;
    flex-direction: column;
    align-items: stretch;
  }

  .cta {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .split,
  .card-classic,
  .card-header,
  .card-footer {
    flex-direction: column !important;
    align-items: stretch !important;
    gap: 1em;
  }

  .plan-name {
    flex-direction: column !important;
  }

  .expand-btn {
    justify-content: center;
  }

  #clube h1 {
    padding: 0 !important;
    margin-top: 0;
  }

  #clube li::before {
    display: none;
  }

  #clube li {
    background-color: var(--secondary-dark);
    padding: 1em;
    border-radius: 1em;
  }
}

body {
  font-size: 14px;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10%;
  z-index: 100;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  width: 80%;
  margin: 0 auto;
  max-width: 960px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  background-color: var(--secondary);
  border-radius: 2rem;
  font-family: "Montserrat", sans-serif;
}

nav ul li {
  padding: 0.8rem 0;
}

nav ul li a {
  padding: 0.8rem 1.6rem;
  color: white;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 2rem;
}

nav ul a:hover {
  background-color: var(--secondary-dark);
}

.inicio {
  margin-top: 25vh !important;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  color: var(--secondary);
}

.cta p {
  margin: -1rem 0 1.5rem 0;
  font-family: Open Sans, sans-serif;
  font-size: 1.2rem;
  color: gray;
}
.imgcta {
  height: auto;
  width: 50%;
}

.cta a {
  background-color: var(--primary);
  color: white;
  border-radius: 2rem;
  padding: 0.8rem;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  /* width: 50%; */
}

.cta a:hover {
  background-color: var(--primary-dark);
}

.card-classic {
  border-radius: 2em;
  color: white;
  padding: 2em;
  margin: 1.5em 0 1.5em 0;
  font-family: Montserrat, sans-serif;
  line-height: 1.5em;
}

.card-classic h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

.card-classic h2 {
  font-weight: 500;
  font-size: 1.2em;
  line-height: 1.1;
}

.card-classic h2 strong {
  font-size: 1.5em;
}

.card-classic ul {
  margin: 0;
  padding: 0;
}

.card-classic li {
  list-style: none;
}

.card-classic span {
  font-weight: bold;
  background-color: white;
  color: var(--secondary-dark);
  padding: 0.8em;
  font-size: 1.2em;
  border-radius: 0.5em;
}

.card-header {
  margin: 0 0 1em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.plan-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
}

.card-footer {
  margin: 1em 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.expand-btn {
  background-color: white;
  padding: 0.5em;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
}

.expand-btn a {
  margin: 0 0 0 0.2em;
  font-family: Montserrat, sans-serif;
  font-size: 1em;
  color: var(--secondary-dark);
  text-decoration: none;
}

#clube {
  background-color: var(--secondary);
  font-family: Montserrat, sans-serif;
  font-size: 1.5em;
  color: white;
  /* padding: 1em 0 1em 0; */
}

#clube h1 {
  padding: 1em 0 0 0;
  font-family: Montserrat, sans-serif;
  font-size: 2.5rem;
  color: white;
}

#clube ol {
  list-style-type: none;
  padding: 0;
}

#clube li {
  line-height: 1.5em;
  margin: 0 0 1em 0;
  counter-increment: step-counter;
}

#clube li::before {
  content: counter(step-counter);
  font-family: Montserrat, sans-serif;
  margin-right: 1em;
  font-size: 1em;
  background-color: white;
  color: var(--secondary);
  font-weight: bold;
  padding: 0.1em 0.4em;
  border-radius: 0.5em;
}

#clube a {
  color: white;
  font-weight: bold;
}
